* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primaryColor: #008EAA;
    --secondaryColor: #A7A8A9;
    --background: #E8E2BA;
    --primaryFontColor: #514f14;
    --secondaryFontColor: #828282;
    --myWhite: #F8F0E4;
}
html {
    font-family: sans-serif;
    font-size: 67.5%;
    color: var(--primaryFontColor);
}

/* HEADER */

header {  
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
header .icon {
    background-color: var(--primaryColor);
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

/* LOGIN */

body > form {
    position: absolute;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    margin: 0 auto;
    border: 3px solid var(--primaryColor);
    background-color: white;
    border-bottom-right-radius: 40px;
}
body > form .button {
    border: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 5px;
    margin: 20px 0 15px 0;
    border-radius: 20px;
    font-size: 2.5rem;
}
body > form input {
    text-align:center;
    color: var(--primaryFontColor);
}




main {
    background: linear-gradient(to bottom, #2d6286 0%, #ffffcc 100%);
}
    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    h2 {
        color: var(--secondaryFontColor);
        font-style: normal;
        font-size: 1.75rem;
    }
    a {
        width: 50px;
        margin-bottom: 15px;
    }
    b {
        color: var(--primaryFontColor);
        font-style: italic;
        font-size: 2rem;
    }
    main img {
        width: 100%;
    }
    main section {
        background-color: var(--myWhite);
        border: 3px solid var(--primaryFontColor);
        border-radius: 20px;
        padding: 0 10px 10px 10px;
        text-align: center;
        max-width: 355px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        background-color: transparent;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 2px solid var(--primaryColor);
        outline: none;
        height: 40px;
    }



/* Formularios para el proceso de logIn */
.form button {
    background: var(--secondaryColor);
    color: var(--myWhite);
    border-radius: 20px;
    border: 0;
    box-shadow: 0px -2px 2px rgb(89 73 30 / 49%);
    margin: 20px 0px 15px 0px;
    padding: 0px 15px;
    cursor: pointer;
}
.form h1 {
    padding: 5px;
    font-size: 2rem;
    margin-bottom: 0;
}
.form h2 {
    text-decoration: none;
    color: var(--primaryColor);
    margin-bottom: 15px;
}


/* CriptoBOX */
#criptoBox div {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#criptoBox p {
    font-size: 2rem;
    font-weight: bolder;
}
.c1 {
    grid-column: 1 / 1;
}
.c2 {
    grid-column: 2 / 2;
}
.c3 {
    grid-column: 3 / 3;
}
.c4 {
    grid-column: 4 / 4;
}
.c5 {
    grid-column: 5 / 5;
}
.f1 {
    grid-row: 1 / 1;
}
.f2 {
    grid-row: 2 / 2;
}
.f3 {
    grid-row: 3 / 3;
}
#criptoBox button {
    width: 50px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px -2px 2px rgb(89 73 30 / 49%);
}


/* Footer */
footer {
    width: 100%;
}
            footer .contPuntos {
                background: linear-gradient(to bottom, #ffffcc -26%, #005741 90%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            footer .contPuntos-circ {
                background-color: var(--background);
                padding: 20px;
                margin: 10px;
                border: 3px solid var(--primaryFontColor);
                border-radius: 23px;
            }
            footer .content {
                background-color: #005741;
                height: auto;
                padding: 10vw;
            }
            .content h1 {
                background-color: var(--primaryColor);
                color: var(--background);
                width: 150px;
                padding: 0 20px;
                border-radius: 20px;
            }
            .content h2 {
                color: var(--myWhite);
            }
/* 
Metodología BEM 

Pseudoclases => estado especial, selector:hover {}
Pseudoelementos => parte específica, selector::after {}

selector {"declaracion de estilo" propiedad: valor;} 
Propiedas modelo caja: margin, border, padding y content, width y height
Orientación: top, bottom, right y left 

Fuentes genéricas: Times New Roman , Georgia y sans-serif (Elegantes), Helvetica y Verdana (Planas), cursive o monospace. 

Mostly fluid requerimentos: .container y .item#. 
.container {display: flex; flex-wrap: wrap;}
.item1, .itemETC {width: 100%; min-width: 150px; height: 150px;} 

Breakpoint: 
@media (min-width: 600px) {
    .container {width: 600px; margin-left: auto; margin-right: auto;}
    .item1, .itemETC {width: 50%;
} 

Imágenes responsive: img {width: 100%;} (Ligado a HTML) 
*/