* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primaryColor: #2D6286;
    --secondaryColor: #aa1a1a;
    --background: #E8E2BA;
    --primaryFontColor: #383838;
    --secondaryFontColor: #828282;
    --myWhite: #F8F0E4;
}
html {
    font-family: 'Marvel', sans-serif;
    font-style: italic;
    font-size: 67.5%;
    color: var(--primaryFontColor);
}
body {  
    background: linear-gradient(to bottom, #2d6286 0%, #ffffcc 100%);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    h2 {
        color: var(--secondaryFontColor);
        font-style: normal;
        font-size: 1.75rem;
    }
    a {
        width: 50px;
        margin-bottom: 15px;
    }
    b {
        color: var(--primaryFontColor);
        font-style: italic;
        font-size: 2rem;
    }
    img {
        width: 100%;
    }
    section {
        background-color: var(--myWhite);
        border: 3px solid var(--primaryFontColor);
        border-radius: 20px;
        margin: 10px;
        padding: 0 10px 10px 10px;
        text-align: center;
        max-width: 355px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        background-color: transparent;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 2px solid var(--primaryColor);
        outline: none;
        height: 40px;
    }
            header section {
                max-width: 100%;
            }
            header img {
                width: 237.22px;
                padding: 10px 0;
            }





/* logSection*/
#logSection {
    position: relative;
    background-color: transparent;
    border: 0;
    padding-top: 45px;
}
#logSection div {
    width: 235px;
    padding: 0px 17px;
    box-shadow: 0px -2px 2px rgb(89 73 30 / 49%);
    border-radius: 25px;
    background: var(--background);
    color: var(--primaryFontColor);
    border: 5px solid var(--secondaryColor);
}


/* user */
#user {
    position: absolute;
    top: -42px;
    height: 74px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#user figure {
    position: relative;
    width: 53px;
    background-color: var(--secondaryColor);
    box-shadow: 0px -2px 0px rgb(89 73 30 / 49%);
    border-radius: 26px;
    padding: 8px;
    margin: 4px 0px;
    align-self: center;
    cursor: pointer;
}
#user h1, #user h2 {
    margin: 0;
}
#user .logButton-cross {
    position: absolute;
    width: 52px;
    top: 1px;
    right: 24px;
}


/* Formularios para el proceso de logIn */
.form input {
    font-weight: bolder;
    text-align: center;
}
.form button {
    background: var(--secondaryColor);
    color: var(--myWhite);
    border-radius: 20px;
    border: 0;
    box-shadow: 0px -2px 2px rgb(89 73 30 / 49%);
    margin: 20px 0px 15px 0px;
    padding: 0px 15px;
    cursor: pointer;
}
.form h1 {
    padding: 5px;
    font-size: 2rem;
    margin-bottom: 0;
}
.form h2 {
    text-decoration: none;
    color: var(--primaryColor);
}





/* Footer */
footer {
    width: 100%;
}
            footer .contPuntos {
                background: linear-gradient(to bottom, #ffffcc -26%, #005741 90%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            footer .contPuntos-circ {
                background-color: var(--background);
                padding: 20px;
                margin: 10px;
                border: 3px solid var(--primaryFontColor);
                border-radius: 23px;
            }
            footer .content {
                background-color: #005741;
                height: auto;
                padding: 10vw;
            }
            .content h1 {
                background-color: var(--primaryColor);
                color: var(--background);
                width: 150px;
                padding: 0 20px;
                border-radius: 20px;
            }
            .content h2 {
                color: var(--myWhite);
            }
/* 
Metodología BEM 

Pseudoclases => estado especial, selector:hover {}
Pseudoelementos => parte específica, selector::after {}

selector {"declaracion de estilo" propiedad: valor;} 
Propiedas modelo caja: margin, border, padding y content, width y height
Orientación: top, bottom, right y left 

Fuentes genéricas: Times New Roman , Georgia y sans-serif (Elegantes), Helvetica y Verdana (Planas), cursive o monospace. 

Mostly fluid requerimentos: .container y .item#. 
.container {display: flex; flex-wrap: wrap;}
.item1, .itemETC {width: 100%; min-width: 150px; height: 150px;} 

Breakpoint: 
@media (min-width: 600px) {
    .container {width: 600px; margin-left: auto; margin-right: auto;}
    .item1, .itemETC {width: 50%;
} 

Imágenes responsive: img {width: 100%;} (Ligado a HTML) 
*/