:root 
{
    --letra-grande: #fed5cb;
    --letra-chica: #dfe3ef;
    --borde: #ff6d58;
    --background: #94aac9;
    --main-color: #2f4058;
    --black: #03122a;
    --grey: #414953;
    --white: #abb7c7;
    --just-white: #fff;
}
body
{
    background: var(--background);
}
.header
{
    height: 80vw;
    margin: 0;
    max-height: 250px;
    width: 100%;
}
.header__logo
{
    width: auto;
    max-height: 250px;
    margin: 0 auto;
}
.bio
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "BioT BioT BioT" "BioP BioP BioP";
}
@media (min-width: 426px) 
{
    .bio
    {
        grid-template-areas: "BioT BioP BioP"; 
    }
}
@media (min-width: 768px) 
{
    .bio
    {
        grid-template-areas: "BioT . ." "BioP . ."; 
    }
}
.bio h1
{
    justify-content: center;
    color: var(--letra-grande);
    font-size: 2rem;;
    background-color: var(--black);
    border-radius: 15px;
    border: 5px solid var(--borde);
    margin: 5px auto;
    padding: 0 5px;
    max-height: 37px;
    width: 58px;
    grid-area: BioT;
    align-self: center;
}
.bio p
{
    padding: 6px;
    background-color: var(--black);
    border-radius: 15px;
    border: 5px solid var(--borde);
    margin: 5px;
    font-size: 0.85rem;
    color: var(--letra-chica);
    max-width: 500px;
    min-width: 247px;
    grid-area: BioP;
}
/*         
display: grid;
grid-template: filas / columnas; // 10px auto o repeat(cantidad, tamaño) o minmax(tamaño minimo, maximo)
grid-template-rows: repeat(4, 100px);
grid-template-columns: [inicio] 200px [linea2] 200px [final];
grid-template-areas:"header header" 
                    "left contenido" 
                    "footer footer";
gap: filas columnas; // column-gap: 30px; & row-gap: 50px;
justify-content: center; & align-content: center;
justify-items: center; & align-items: center;
*/