html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.generalContainer {
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.flores {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.soft-arc {
  position: absolute;
  top: 200px;
  left: 200px;
  right: 200px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #d4af37, #f7e1a0e6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.hard-arc {
  border-radius: 10px;
  margin: 1px 0;
  width: 99.5%;
  height: 99.5%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soft-arc2 {
  border-radius: 10px;
  margin: 2px 0;
  width: 99%;
  height: 99%;
  background: linear-gradient(to bottom right, #d4af37, #f7e1a0bb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hard-arc2 {
  border-radius: 10px;
  margin: 4px 0;
  width: 98%;
  height: 98%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  margin-bottom: 10px;
  color: #d4af37;
}

.titulo2container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding-top: 50px;
}

.titulo2 {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 90px;
  color: #3565b7;
  font-stretch: expanded;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

.titulo21 {
  position: absolute;
  top: 0;
}

.subtitulo {
  font-family: "Dancing Script", cursive;
  color: #254a8b;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 100px 0;
  padding: 0 100px;
}

.dateContainer {
  color: #3565b7;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.dateBack {
  background: linear-gradient(to right, #f7e1a0bb, #9f8220);
}

.date {
  background: white;
  padding: 15px 40px;
  margin: 2px 0;
}

.dayContainer {
  padding: 0 10px;
}

.day1 {
  font-size: 90px;
  padding: 0;
  margin: 0;
}

.day2 {
  font-size: 20px;
  color: #254a8b;
  margin: 0;
}
