* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #132546;
}

/* Estilos de los elementos */

a {
  text-decoration: none;
  border: none;
  outline: none;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  margin: 0 0 10px 0;
  color: #d4af37;
}

h3 {
  font-family: "Playfair Display", serif;
  color: #254a8b;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 0 10px 0;
}

@media (max-width: 600px) {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }
}

/* Fin de los estilos de los elementos */

/* Clases principales */

.section {
  width: 650px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card {
  padding: 50px 0;
  width: 550px;
  text-align: center;
}

.photo {
  border: 3px solid #bfa145;
  width: 400px;
}

@media (max-width: 650px) {
  .section {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
  }
}

/* Fin de las clases principales */

/* Clases generales */

.icon {
  margin-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fin de las clases generales */

/* Invitación */

#invitacion {
  background: linear-gradient(to bottom right, #f3c52f, #f7e1a0e6);
}

#bordeIntermedio {
  margin: 1px 0;
  width: 99.5%;
  height: 99.5%;
  background: white;
  border-radius: 10px;
}

#bordeInterno {
  border-radius: 10px;
  margin: 2px 0;
  width: 99%;
  height: 99%;
  background: linear-gradient(to bottom right, #f1c32a, #f7e1a0bb);
}

#contenido {
  position: relative;
  border-radius: 10px;
  margin: 4px 0;
  padding: 50px 0 100px 0;
  width: 98%;
  height: 98%;
  background: white;
}

#contenido h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

#contenido h3:last-of-type {
  margin-bottom: 20px;
}

#principalTitle {
  position: relative;
  margin-top: 25px;
  padding-top: 50px;
  text-align: center;
}

#principalTitle p {
  font-family: "Great Vibes", cursive;
  font-size: 90px;
  color: #3565b7;
  font-stretch: expanded;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

#principalTitle p:first-of-type {
  position: absolute;
  top: 0;
}

#subtitulo {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #254a8b;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 10%;
}

#dateContainer {
  color: #3565b7;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gradient {
  background: linear-gradient(to right, #f7e1a0bb, #9f8220);
}

.gradient p {
  background: white;
  padding: 15px 60px;
  margin: 2px -1px;
}

#dayContainer {
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: center;
}

#dayContainer p:first-of-type {
  font-size: 90px;
  padding: 0;
  margin: 0;
}

#dayContainer p:last-of-type {
  font-size: 20px;
  color: #254a8b;
  margin: 0;
}

@media (max-width: 650px) {
  #invitacion {
    width: 100%;
  }

  #contenido h4 {
    font-size: 30px;
  }

  #subtitulo {
    margin-bottom: 40px;
    font-size: 18px;
  }

  #principalTitle p {
    font-size: 60px;
  }

  #dateContainer {
    position: relative;
    flex-direction: column;
    padding-top: 40px;
    font-size: 20px;
    margin-bottom: 35px;
  }

  #dateContainer div:first-of-type {
    position: absolute;
    top: 0;
  }

  #dayContainer p:first-of-type {
    font-size: 60px;
  }

  #dayContainer p:last-of-type {
    font-size: 16px;
  }
}

/* Fin de la sección de invitación */

/* Cómo llegar */

#llegar {
  background-color: #e0f2f1;
  border: 3px solid #2c3e50;
}

#llegar h2 {
  color: #bfa145;
}

#llegar h3,
#llegar a {
  color: #2c3e50;
}

/* Fin de la sección de como llegar */

/* Confirma tu asistencia */

#confirma {
  background-color: #fdf5e6;
  border: 3px solid #8b0000;
}

#confirma h3 {
  color: #3e3e3e;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#confirma h2 {
  color: #8b0000;
  margin-bottom: 15px;
}

#confirma .flex {
  width: 100%;
  justify-content: space-around;
}

#confirma .column {
  margin: 0;
  padding: 0;
}

/* Fin de la sección confirma */

/* Regalos */

#gift {
  background-color: #e6e6fa;
  border: 3px solid #2c3e50;
}

#gift h2 {
  color: #ff6f61;
}

#gift h3 {
  color: #2c3e50;
}

#gift .column img {
  margin-top: 14px;
  width: 150px;
  margin-bottom: 16px;
}

#gift span {
  color: black;
  font-size: 15px;
  margin-top: 6px;
}

/* Fin de la sección gift */

/* Dress code */

#dress {
  position: relative;
  background-color: #f5e6e8;
  border: 3px solid #5d4037;
}

#dress h2 {
  color: #8c9a3c;
}

#dress h3 {
  color: #5d4037;
}

/* Fin de la sección dress */

/* Menú */

#menu {
  background-color: #d7e3f4;
  border: 3px solid #2e2e2e;
}

#menu h2 {
  color: #d4a373;
}

#menu h3 {
  color: #2e2e2e;
}

/* Fin de la sección menu */

/* Sección de version movil */

@media (max-width: 650px) {
  #menu,
  #dress,
  #gift,
  #confirma,
  #llegar {
    border: none;
  }
}

/* Fin de la sección movil */

/* Flor */

#florTR {
  position: absolute;
  top: -50px;
  right: -50px;
}

#florBL {
  position: absolute;
  bottom: -200px;
  left: -60px;
}

#florDress {
  position: absolute;
  bottom: -150px;
  left: 200px;
  width: 350px;
}

@media (max-width: 650px) {
  #florTR {
    top: 0px;
    right: 0px;
    width: 200px;
  }

  #florBL {
    bottom: -100px;
    left: -35px;
    width: 200px;
  }

  #florDress {
    bottom: -100px;
    left: 160px;
    width: 250px;
  }
}

/* Fin de la sección flor */
