html 
{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root 
{
    --letra-grande: #fed5cb;
    --letra-chica: #dfe3ef;
    --borde: #ff6d58;
    --background: #94aac9;
    --main-color: #2f4058;
    --black: #18212e;
    --grey: #414953;
    --white: #abb7c7;
    --just-white: #fff;
}
body
{
    background: var(--background);
}
.logo
{
    height: 80vw;
    max-height: 300px;
    background-image: url(https://i.imgur.com/cpj8Tpk.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bio
{
    width: calc(100%-5px);
    background-color: var(--black);
    color: var(--letra-chica);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    border: 5px solid var(--borde);
    padding: 6px;
    margin: 5px;
}
.bio h1
{
    color: var(--letra-grande);
    font-size: 2rem;
}
/*         
display: grid;
grid-template: filas / columnas; // 10px auto o repeat(cantidad, tamaño) o minmax(tamaño minimo, maximo)
grid-template-rows: repeat(4, 100px);
grid-template-columns: [inicio] 200px [linea2] 200px [final];
grid-template-areas:"header header" 
                    "left contenido" 
                    "footer footer";
gap: filas columnas; // column-gap: 30px; & row-gap: 50px;
justify-content: center; & align-content: center;
justify-items: center; & align-items: center;
*/