* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primaryColor: #2D6286;
    --secondaryColor: #aa1a1a;
    --background: #E8E2BA;
    --primaryFontColor: #383838;
    --secondaryFontColor: #828282;
    --myWhite: #F8F0E4;
}
html {
    font-family: 'Marvel', sans-serif;
    font-style: italic;
    font-size: 67.5%;
    color: var(--primaryFontColor);
}
    body {  
        background: linear-gradient(to bottom, #2d6286 0%, #ffffcc 100%);
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        color: var(--secondaryFontColor);
        font-style: normal;
        font-weight: bold;
        font-size: 1.75rem;
    }
    b {
        color: var(--primaryFontColor);
        font-style: italic;
        font-size: 2rem;
    }
    img {
        width: 100%;
    }
    section {
        background-color: var(--myWhite);
        border: 3px solid var(--primaryFontColor);
        border-radius: 20px;
        margin: 10px;
        padding: 0 10px 32px 10px;
        text-align: center;
    }
        header {
            position: relative;
        }
            header nav {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                width: 235px;
                height: 62px;
                position: absolute;
                top: 183px;
                left: calc(50% - 117px);
                background: var(--secondaryColor);
                box-shadow: 0px -2px 2px rgb(89 73 30 / 49%);
                border-radius: 25px;
                color: var(--myWhite);
            }
                header nav figure {
                    width: 40px;
                    background-color: var(--myWhite);
                    border-radius: 20px;
                    padding: 8px;
                    margin: auto 0 auto 20px;
                }
        main {
            margin-top: 38px;
        }
            .procedimientos h1 {
            }
            main .apoyame {

            }
        footer {
            width: 100%;
        }
            footer .intro {
                background: linear-gradient(to bottom, #ffffcc -40%, #005741 100%);
                margin-top: 32px;
                height: 200px;
            }
            footer .content {
                background-color: #005741;
                height: 100px;
            }
/* 
Metodología BEM 

Pseudoclases => estado especial, selector:hover {}
Pseudoelementos => parte específica, selector::after {}

selector {"declaracion de estilo" propiedad: valor;} 
Propiedas modelo caja: margin, border, padding y content, width y height
Orientación: top, bottom, right y left 

Fuentes genéricas: Times New Roman , Georgia y sans-serif (Elegantes), Helvetica y Verdana (Planas), cursive o monospace. 

Mostly fluid requerimentos: .container y .item#. 
.container {display: flex; flex-wrap: wrap;}
.item1, .itemETC {width: 100%; min-width: 150px; height: 150px;} 

Breakpoint: 
@media (min-width: 600px) {
    .container {width: 600px; margin-left: auto; margin-right: auto;}
    .item1, .itemETC {width: 50%;
} 

Imágenes responsive: img {width: 100%;} (Ligado a HTML) 
*/