* { box-sizing: border-box;
    padding: 0;
    margin: 0;}
:root {
    --primaryColor: #2D6286;   /* Llamar: {característica: var(--variable-name);} */
    --secondaryColor: #40B5BF;
    --background: #E8E2BA;
    --primaryFontColor: #383838;
    --secondaryFontColor: #828282;}
html {
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    font-size: 67.5%;
    color: var(--primaryFontColor);}
.secondaryFont {
    color: var(--secondaryFontColor);
    font-style: italic;}

body {  background-color: var(--primaryColor);
        padding: 10px;}
header {background-color: var(--secondaryColor);
        border: none;
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);

        height: auto;
        min-width: 260px;
        position: relative;
        width: 100%;
        display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;}
header img {width: 100%;
            max-width: 660px;
            align-self: center;}
nav {}
.user {}
main {}
main img {}
footer {}

/* 
Metodología BEM 
*/

/* 
Pseudoclases => estado especial, selector:hover {}
Pseudoelementos => parte específica, selector::after {}
*/

/*
selector {"declaracion de estilo" propiedad: valor;} 
Propiedas modelo caja: margin, border, padding y content, width y height
Orientación: top, bottom, right y left 
*/

/* 
Fuentes genéricas: Times New Roman , Georgia y sans-serif (Elegantes), Helvetica y Verdana (Planas), cursive o monospace. 
*/

/* 
Mostly fluid requerimentos: .container y .item#. 
.container {display: flex; flex-wrap: wrap;}
.item1, .itemETC {width: 100%; min-width: 150px; height: 150px;} 
*/

/* 
Breakpoint: 
@media (min-width: 600px) {
    .container {width: 600px; margin-left: auto; margin-right: auto;}
    .item1, .itemETC {width: 50%;
} 
*/

/* 
Imágenes responsive: img {width: 100%;} (Ligado a HTML) 
*/