* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primaryColor: #2D6286;   /* Llamar: {característica: var(--variable-name);} */
    --secondaryColor: #aa1a1a;
    --background: #E8E2BA;
    --primaryFontColor: #383838;
    --secondaryFontColor: #828282;
    --myWhite: #F8F0E4;
}
html {
    font-family: 'Marvel', sans-serif;
    font-style: italic;
    font-size: 67.5%;
    color: var(--primaryFontColor);
}
.secondaryFont {
    color: var(--secondaryFontColor);
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
}
body {  
    background: linear-gradient(to bottom, #2d6286 0%, #ffffcc 100%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    header {
        padding-bottom: 30px;
        position: relative;
        display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
    }
        header nav {
            align-self: center;
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            grid-template-rows: repeat(10, 1fr);
            width: 220px;
            height: 54px;
            position: absolute;
                top: 194px;
            background: var(--secondaryColor);
            box-shadow: 0px -2px 2px rgb(89 73 30 / 49%);
            border-radius: 25px;
            color: var(--myWhite);
        }
    main {
        margin-top: 32px;
    }
.card {
    background-color: var(--myWhite);
    border: 3px solid var(--primaryFontColor);
    border-radius: 20px;
    width: 100%;
    min-width: 260px;
    max-width: 410px;
    box-shadow: 0px -3px 2px rgb(89 73 30 / 50%);
}
nav .nav-user {
    grid-row: 1 / span 2;
    grid-column: 3 / span 4;
    font-size: 17px;
}
nav .nav-anon {
    grid-row: 3 / span 6;
    grid-column: 3 / span 8;
    font-size: 40px;
}
nav .nav-icon {
    grid-row: 2 / span 8;
    grid-column: 16 / span 3;
    margin-left: 5px;
}
.icon-container {
    width: 47px;
    background-color: var(--myWhite);
    border-radius: 22px;
    padding: 6px;
}
.icon {
    align-self: center;
    max-width: 260px;
    width: 100%;
}
.apoyame {
    display: grid;
    grid-template-columns: 1fr 42px;
    align-items: center;
    text-align: center;
    padding: 10px;
}
    .apoyame h1 {
        margin-bottom: 16px;
        font-size: 3rem;
        grid-column: 1 / span 2;
    }
    .apoyame h2 {
        margin-bottom: 20px;
        margin-right: 8px;
    }
    .apoyame b {
        color: var(--primaryFontColor);
        font-style: italic;
        font-size: 2rem;
    }


/* 
Metodología BEM 
*/

/* 
Pseudoclases => estado especial, selector:hover {}
Pseudoelementos => parte específica, selector::after {}
*/

/*
selector {"declaracion de estilo" propiedad: valor;} 
Propiedas modelo caja: margin, border, padding y content, width y height
Orientación: top, bottom, right y left 
*/

/* 
Fuentes genéricas: Times New Roman , Georgia y sans-serif (Elegantes), Helvetica y Verdana (Planas), cursive o monospace. 
*/

/* 
Mostly fluid requerimentos: .container y .item#. 
.container {display: flex; flex-wrap: wrap;}
.item1, .itemETC {width: 100%; min-width: 150px; height: 150px;} 
*/

/* 
Breakpoint: 
@media (min-width: 600px) {
    .container {width: 600px; margin-left: auto; margin-right: auto;}
    .item1, .itemETC {width: 50%;
} 
*/

/* 
Imágenes responsive: img {width: 100%;} (Ligado a HTML) 
*/