---
import BaseLayout from "../layouts/BaseLayout.astro";
import PhotoSwipeGallery from "../components/PhotoSwipeGallery.astro";
import items from "../data/gallery.json";
---

<BaseLayout title="Galería de Fotos">
  <h1 class="main-title">Galería</h1>
  <PhotoSwipeGallery id="galeria-matri" title="Matrimonio" items={items} />
</BaseLayout>
