---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gracias por acompañarnos">
  <section id="agradecimiento" class="section column">
    <div class="borderRadius column" id="bordeIntermedio">
      <div class="borderRadius column" id="bordeInterno">
        <div class="borderRadius column" id="contenido">
          <img
            src="/images/Flortr arreglado.png"
            alt="Flor superior derecha"
            id="florTR"
          />
          <img
            src="/images/Florbl arreglado.png"
            alt="Flor inferior izquierda"
            id="florBL"
          />
          <h2 class="titledown">¡Muchas Gracias!</h2>
          <h3>A todos quienes nos acompañaron</h3>
          <p class="parrafo">
            Nos sentimos muy felices de haber contado con tu presencia en este
            momento tan importante de nuestras vidas.
          </p>
          <p class="parrafo">
            ¡Esperamos seguir compartiendo juntos en el futuro!
          </p>
          <!-- Botón que dirige a la Galería -->
          <a href="/gallery" class="btn-gallery">Ver Galería</a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
