<section id="dress" class="section card column">
  <img
    src="/images/bird arreglado.png"
    alt="Imagen de un pájaro"
    id="florDress"
  />
  <div class="imageContainer">
    <img
      src="/images/moda.png"
      alt="Imagen de ropa"
      class="icon"
      width="50"
      height="50"
    />
  </div>
  <h2>Dress code</h2>
  <h3>Formal, pero la novia da la libertad de usar vestido corto</h3>
  <h3>¡Te queremos tirando pinta!</h3>
</section>
