<section id="llegar" class="section card column">
  <img
    src="/images/anillos-de-boda.png"
    alt="Imagen de anillos de boda"
    class="icon"
    width="50"
    height="50"
  />
  <h2>Cómo llegar</h2>
  <div class="imageContainer">
    <a
      href="https://www.google.com/maps?q=-29.999435,-71.333555"
      target="_blank"
    >
      <img
        src="/images/gmaps.png"
        alt="Ícono de Google Maps"
        class="icon"
        height="50"
      />
    </a>
    <a
      href="https://waze.com/ul?ll=-29.999435,-71.333555&navigate=yes"
      target="_blank"
    >
      <img
        src="/images/waze (2).png"
        alt="Ícono de Waze"
        class="icon"
        height="50"
      />
    </a>
  </div>
  <h3>Te guiará a nuestra ceremonia y recepción</h3>
</section>
