---
const title = "¡Nos Casamos!";
const bride = "Consuelo";
const groom = "Fabián";
---

<section id="invitacion" class="section column">
  <div class="borderRadius column" id="bordeIntermedio">
    <div class="borderRadius column" id="bordeInterno">
      <div class="borderRadius column" id="contenido">
        <img
          src="/images/Flortr arreglado.png"
          alt="Imagen de una flor"
          id="florTR"
        />
        <img
          src="/images/Florbl arreglado.png"
          alt="Imagen de una flor"
          id="florBL"
        />
        <h2>{title}</h2>
        <div class="column" id="principalTitle">
          <p>{bride}</p>
          <p>y</p>
          <p>{groom}</p>
        </div>
        <p id="subtitulo">
          Solicitamos el honor de su presencia, junto a familiares y amigos, en
          la ceremonia de nuestra boda.
        </p>
        <div class="flex" id="dateContainer">
          <div class="gradient">
            <p>SÁBADO</p>
          </div>
          <div id="dayContainer">
            <p class="day1">19</p>
            <p class="day2">06:30 PM</p>
          </div>
          <div class="gradient">
            <p>OCTUBRE</p>
          </div>
        </div>
        <h3>Centro de eventos Girasoles</h3>
        <h3>Avenida Portugal Sur 2690, Coquimbo</h3>
        <h2>Recepción posterior</h2>
      </div>
    </div>
  </div>
</section>
