<section id="menu" class="section card column">
  <div class="imageContainer">
    <img
      src="/images/bandeja-de-comida.png"
      alt="Imagen de una bandeja"
      class="icon"
      width="50"
      height="50"
    />
  </div>
  <h2>Qué menú prefieres</h2>
  <h3>
    Si tienes una restricción alimentaria, por favor avísanos al momento de
    confirmar asistencia
  </h3>
</section>
