/* ===== CONTENEDOR PRINCIPAL ===== */
.main-content {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


/* ===== BOTONES ===== */
.btn-gallery {
  display: inline-block;
  padding: 14px 24px;
  background: linear-gradient(to bottom right, #f3c52f, #f7e1a0e6);
  color: #254a8b;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-gallery:hover {
  background: linear-gradient(to bottom right, #e6b127, #f7e1a0e6);
  transform: scale(1.02);
}

/* ===== UTILS ===== */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 550px;
  padding: 50px 0;
  text-align: center;
}

.section {
  width: 650px;
  margin: 0 auto 30px;
  border-radius: 10px;
}

.photo {
  display: block;
  width: 650px;
  max-width: 100%;
  border: 3px solid #bfa145;
}

@media (max-width: 650px) {
  .section {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
  }
}