---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Gallery from "../../components/Gallery.astro";
---

<BaseLayout title="Galería de Fotos">
  <h1 class="main-title">Galería</h1>
  <Gallery id="galeria-matri" title="Matrimonio" src="/data/gallery.json" />
</BaseLayout>
