---
const { title = "Matrimonio" } = Astro.props;
const currentPath = Astro.url.pathname;
const isHome = currentPath === "/";
const isGallery = currentPath === "/gallery";
const isInvitation = currentPath === "/invitation";
const isMatrimonio = isGallery || isInvitation;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Boda de Consuelo y Fabián" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a
              href="/"
              class={isHome ? "nav-link active-link disabled-link" : "nav-link"}
            >
              Inicio
            </a>
          </li>
          <li class="has-submenu">
            <a
              href="/invitation"
              class={isMatrimonio ? "nav-link active-link" : "nav-link"}
            >
              Matrimonio
            </a>
            <ul class="submenu">
              <li>
                <a
                  href="/invitation"
                  class={isInvitation
                    ? "nav-link sub-link active-link disabled-link"
                    : "nav-link sub-link"}
                >
                  Invitacion
                </a>
              </li>
              <li>
                <a
                  href="/gallery"
                  class={isGallery
                    ? "nav-link sub-link active-link disabled-link"
                    : "nav-link sub-link"}
                >
                  Galeria
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <slot />
  </body>
</html>
