---
const { title = "Matrimonio" } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Boda de Consuelo y Fabián" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a
              href="/"
              class={currentPath === "/"
                ? "nav-link active-link disabled-link"
                : "nav-link"}
            >
              Inicio
            </a>
          </li>
          <li>
            <a
              href="/gallery"
              class={currentPath === "/gallery"
                ? "nav-link active-link disabled-link"
                : "nav-link"}
            >
              Galería
            </a>
          </li>
          <li>
            <a
              href="/invitation"
              class={currentPath === "/invitation"
                ? "nav-link active-link disabled-link"
                : "nav-link"}
            >
              Invitación
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <slot />
  </body>
</html>
